Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,-bugprone-easily-swappable-parameters,cppcoreguidelines-*,-cppcoreguidelines-owning-memory,modernize-*,-modernize-use-trailing-return-type,readability-*,-readability-implicit-bool-conversion,misc-*,-misc-no-recursion,-modernize-use-nodiscard,google-explicit-constructor,-cppcoreguidelines-special-member-functions,-misc-confusable-identifiers,-misc-const-correctness'
UseColor: true
CheckOptions:
  - key: 'bugprone-empty-catch.IgnoreCatchWithKeywords'
    value: 'TODO;FIXME;ignore'
  - key: 'readability-identifier-naming.ClassCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.StructCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.NamespaceCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.VariableCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.FunctionCase'
    value: 'camelBack'
  - key: 'readability-identifier-naming.ClassConstantCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.EnumConstantCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.GlobalConstantCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.StaticConstantCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.MemberPrefix'
    value: 'm_'
  - key: 'readability-identifier-naming.ClassMemberPrefix'
    value: 's_'
  - key: 'readability-identifier-naming.StaticVariablePrefix'
    value: 's_'
